body {
    font-family: sans-serif;
    padding: 20px;
}

#login-container, #search-container {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

input, button {
    font-size: 16px;
    padding: 8px;
    margin-top: 10px;
}

